<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanrong.business.demand.mapper.DemandtreasureTransferOutMapper">
	<resultMap type="DemandtreasureTransferOut" id="DemandtreasureTransferOutRM">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="userSource" column="user_source" />
		<result property="registerTime" column="register_time" />
		<result property="money" column="money" />
		<result property="sendedTime" column="sended_time" />
		<result property="successTime" column="success_time" />
		<result property="transferWay" column="trnsfer_way" />
		<result property="status" column="status" />
		<result property="detail" column="detail" />
		<result property="principal" column="principal" />
		<result property="interest" column="interest" />
		<result property="fork" column="fork" />
		<association property="user" column="user_id"
			resultMap="com.duanrong.business.user.mapper.UserMapper.userRM"/>
	</resultMap>
	<resultMap type="DemandtreasureTransferOut" id="DemandtreasureTransferOutRM1">
		<id property="id" column="id" />
		<result property="total" column="total" />
		<result property="summoney" column="summoney" />
	</resultMap>
	<resultMap type="DemandtreasureTransferOut" id="DemandtreasureTransferOutRM2">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="summoney" column="summoney" />
	</resultMap>
	
	<select id="gettotal"
		resultMap="DemandtreasureTransferOutRM1">
		select  count(*) as total,ROUND(SUM(money),2) as summoney from demand_treasure_transferout where status='sended'
	</select>
	<select id="gettotalUser"
		resultMap="DemandtreasureTransferOutRM2">
		select  user_id ,ROUND(SUM(money),2) as summoney from demand_treasure_transferout where status='sended' GROUP BY user_id
	</select>
	
	<select id="pageInfo"  parameterType="map" resultMap="DemandtreasureTransferOutRM">
		select r.*,u.realname,u.mobile_number from demand_treasure_transferout r left join user u on r.user_id=u.id
		where r.status='sended'

			<if test="userId != null">
				AND u.id = #{userId}
			</if>
			<if test="realname != null">
				AND u.realname = #{realname}
			</if>
			<if test="mobileNumber != null">
				AND u.mobile_number = #{mobileNumber}
			</if>
		
		ORDER BY r.sended_time
	</select>
	<select id="findAll"   resultMap="DemandtreasureTransferOutRM">
		select * from demand_treasure_transferout where status='sended' ORDER BY sended_time
	</select>
	<select id="get" parameterType="string" resultMap="DemandtreasureTransferOutRM">
		SELECT *
		FROM demand_treasure_transferout
		WHERE id = #{id}
	</select>
	<update id="update" parameterType="DemandtreasureTransferOut">
		UPDATE demand_treasure_transferout 
		<set>
			<if test="status != null">
				status=#{status},
			</if>
			<if test="successTime != null">
				success_time=#{successTime},
			</if>
			<if test="money != 0">
				money=#{money},
			</if>
			<if test="principal != 0">
				principal=#{principal},
			</if>
			<if test="interest != 0">
				interest=#{interest},
			</if>
		</set>
		WHERE id=#{id}
	</update>
	
	<select id="getMoneySendedByDay" parameterType="map" resultType="double">
	SELECT SUM(money)
		FROM demand_treasure_transferout where status = 'sended' and
		date_format(create_time, '%Y-%m-%d') &lt;= date_format(#{date},
				'%Y-%m-%d')-interval 1 day	
	</select>
	<select id="getOutSumMoney" parameterType="map" resultMap="DemandtreasureTransferOutRM1">
		SELECT SUM(money) as money, SUM(interest) as interest, SUM(principal) AS principal  FROM demand_treasure_transferout 
		WHERE status = #{status} AND user_id = #{userId}
	</select>
	<!-- 获取用户转出总额 -->
	<select id="getOutSumMoney2" parameterType="map" resultType="double">
		SELECT SUM(money) from demand_treasure_transferout where `status`=#{status} and user_id=#{userId}

	</select>
	
	<!-- 转出查询，带条件 -->
	<select id="getListForTranferOut" resultMap="DemandtreasureTransferOutRM" parameterType="DemandtreasureTransferOut">
		SELECT
			t.id,
			t.user_id,
			u.realname,
			u.mobile_number,
			t.sended_time,
			t.success_time,
			t.trnsfer_way,
			t. STATUS,
			t.money,
			t.principal,
			t.interest,
			t.fork,
			u.register_time,
			u1.user_source
		FROM
			demand_treasure_transferout t
		LEFT JOIN USER u ON t.user_id = u.id
		LEFT JOIN user_other_info u1 on u.id=u1.id
		<include refid="transferOutCondition"/>
		order by t.sended_time desc
	</select>
	
	<select id="getSumMoneyTransferOut" parameterType="DemandtreasureTransferOut" resultType="java.math.BigDecimal">
		SELECT
			sum(t.money) summoney
		FROM
			demand_treasure_transferout t
			LEFT JOIN USER u ON t.user_id = u.id
			LEFT JOIN user_other_info u1 on u.id=u1.id
			where t.status='success'
			<if test="userSource != null and userSource != ''">
				AND u1.user_source like '%${userSource}%'
			</if>
			<if test="userSourceIsNull != null and userSourceIsNull != ''">
				AND u1.user_source is null 
			</if>
			<if test="fork != null and fork != '' ">
				and t.fork = #{fork}
			</if>
			<if test="status != null and status != '' ">
				and t.status = #{status }
			</if>
			<if test="sendedTimeBeg != null and sendedTimeBeg != ''">
				and UNIX_TIMESTAMP(t.sended_time) >= UNIX_TIMESTAMP(#{sendedTimeBeg })
			</if>
			<if test="sendedTimeEnd != null and sendedTimeEnd != '' ">
				<![CDATA[
					and UNIX_TIMESTAMP(t.sended_time) <= UNIX_TIMESTAMP(#{sendedTimeEnd })
				]]>
			</if>
			<if test="user != null and user.realname != null and user.realname != '' ">
				and u.realname like '%${user.realname }%'
			</if>
			<if test="user != null and user.username != null and user.username != '' ">
				and u.username like '%${user.username }%'
			</if>
			<if test="user != null and user.mobileNumber != null">
				and u.mobile_number =#{user.mobileNumber }
			</if>
			<if test="transferWay != null and transferWay != '' ">
				and t.trnsfer_way like '%${transferWay }%' 
			</if>
	</select>
	
	<select id="getSumPeopleTransferOut" parameterType="DemandtreasureTransferOut" resultType="int">
		SELECT
			DISTINCT count(t.user_id)
		FROM
			demand_treasure_transferout t
			LEFT JOIN USER u ON t.user_id = u.id
			LEFT JOIN user_other_info u1 on u.id=u1.id
			where t.status='success'
			<if test="userSource != null and userSource != ''">
				AND u1.user_source like '%${userSource}%'
			</if>
			<if test="userSourceIsNull != null and userSourceIsNull != ''">
				AND u1.user_source is null 
			</if>
			<if test="fork != null and fork != '' ">
				and t.fork = #{fork}
			</if>
			<if test="status != null and status != '' ">
				and t.status = #{status }
			</if>
			<if test="sendedTimeBeg != null and sendedTimeBeg != ''">
				and UNIX_TIMESTAMP(t.sended_time) >= UNIX_TIMESTAMP(#{sendedTimeBeg })
			</if>
			<if test="sendedTimeEnd != null and sendedTimeEnd != '' ">
				<![CDATA[
					and UNIX_TIMESTAMP(t.sended_time) <= UNIX_TIMESTAMP(#{sendedTimeEnd })
				]]>
			</if>
			<if test="user != null and user.realname != null and user.realname != '' ">
				and u.realname like '%${user.realname }%'
			</if>
			<if test="user != null and user.username != null and user.username != '' ">
				and u.username like '%${user.username }%'
			</if>
			<if test="user != null and user.mobileNumber != null">
				and u.mobile_number =#{user.mobileNumber }
			</if>
			<if test="transferWay != null and transferWay != '' ">
				and t.trnsfer_way like '%${transferWay }%' 
			</if>
	</select>
	<!-- 失败 -->
	
	
	<select id="getSumMoneyFailTransferOut" parameterType="DemandtreasureTransferOut" resultType="java.math.BigDecimal">
		SELECT
			sum(t.money) summoney
		FROM
			demand_treasure_transferout t
			LEFT JOIN USER u ON t.user_id = u.id
			LEFT JOIN user_other_info u1 on u.id=u1.id 		
			where t.status='fail'
			<if test="userSource != null and userSource != ''">
				AND u1.user_source like '%${userSource}%'
			</if>
			<if test="userSourceIsNull != null and userSourceIsNull != ''">
				AND u1.user_source is null 
			</if>
			
			<if test="fork != null and fork != '' ">
				and t.fork = #{fork}
			</if>
			<if test="status != null and status != '' ">
				and t.status = #{status }
			</if>
			<if test="sendedTimeBeg != null and sendedTimeBeg != ''">
				and UNIX_TIMESTAMP(t.sended_time) >= UNIX_TIMESTAMP(#{sendedTimeBeg })
			</if>
			<if test="sendedTimeEnd != null and sendedTimeEnd != '' ">
				<![CDATA[
					and UNIX_TIMESTAMP(t.sended_time) <= UNIX_TIMESTAMP(#{sendedTimeEnd })
				]]>
			</if>
			<if test="user != null and user.realname != null and user.realname != '' ">
				and u.realname like '%${user.realname }%'
			</if>
			<if test="user != null and user.username != null and user.username != '' ">
				and u.username like '%${user.username }%'
			</if>
			<if test="user != null and user.mobileNumber != null">
				and u.mobile_number =#{user.mobileNumber }
			</if>
			<if test="transferWay != null and transferWay != '' ">
				and t.trnsfer_way like '%${transferWay }%' 
			</if>
	</select>
	
	<select id="getSumPeopleFailTransferOut" parameterType="DemandtreasureTransferOut" resultType="int">
		SELECT
				DISTINCT count(t.user_id)
		FROM
			demand_treasure_transferout t
			LEFT JOIN USER u ON t.user_id = u.id
			LEFT JOIN user_other_info u1 on u.id=u1.id 		
			where t.status ='fail'
			<if test="userSource != null and userSource != ''">
				AND u1.user_source like '%${userSource}%'
			</if>
			<if test="userSourceIsNull != null and userSourceIsNull != ''">
				AND u1.user_source is null 
			</if>
			<if test="fork != null and fork != '' ">
				and t.fork = #{fork}
			</if>
			<if test="status != null and status != '' ">
				and t.status = #{status }
			</if>
			<if test="sendedTimeBeg != null and sendedTimeBeg != ''">
				and UNIX_TIMESTAMP(t.sended_time) >= UNIX_TIMESTAMP(#{sendedTimeBeg })
			</if>
			<if test="sendedTimeEnd != null and sendedTimeEnd != '' ">
				<![CDATA[
					and UNIX_TIMESTAMP(t.sended_time) <= UNIX_TIMESTAMP(#{sendedTimeEnd })
				]]>
			</if>
			<if test="user != null and user.realname != null and user.realname != '' ">
				and u.realname like '%${user.realname }%'
			</if>
			<if test="user != null and user.username != null and user.username != '' ">
				and u.username like '%${user.username }%'
			</if>
			<if test="user != null and user.mobileNumber != null">
				and u.mobile_number =#{user.mobileNumber }
			</if>
			<if test="transferWay != null and transferWay != '' ">
				and t.trnsfer_way like '%${transferWay }%' 
			</if>
	</select>
	
	<sql id="transferOutCondition">
		<where>
			<if test="userSource != null and userSource != ''">
				AND u1.user_source like '%${userSource}%'
			</if>
			<if test="userSourceIsNull != null and userSourceIsNull != ''">
				AND u1.user_source is null 
			</if>
			<if test="fork != null and fork != '' ">
				and t.fork = #{fork}
			</if>
			<if test="status != null and status != '' ">
				and t.status = #{status }
			</if>
			<if test="sendedTimeBeg != null and sendedTimeBeg != ''">
				and UNIX_TIMESTAMP(t.sended_time) >= UNIX_TIMESTAMP(#{sendedTimeBeg })
			</if>
			<if test="sendedTimeEnd != null and sendedTimeEnd != '' ">
				<![CDATA[
					and UNIX_TIMESTAMP(t.sended_time) <= UNIX_TIMESTAMP(#{sendedTimeEnd })
				]]>
			</if>
			<if test="user != null and user.realname != null and user.realname != '' ">
				and u.realname like '%${user.realname }%'
			</if>
			<if test="user != null and user.username != null and user.username != '' ">
				and u.username like '%${user.username }%'
			</if>
			<if test="user != null and user.mobileNumber != null">
				and u.mobile_number =#{user.mobileNumber }
			</if>
			<if test="transferWay != null and transferWay != '' ">
				and t.trnsfer_way like '%${transferWay }%' 
			</if>
		</where>
	</sql>
	
</mapper>