<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanrong.business.user.mapper.AccountCountMapper">
	<resultMap type="AccountCount" id="AccountCountRM">
		<id property="id" column="id" />
		<result property="sumBalance" column="sumBalance" />
		<result property="sumAvailableAmount" column="sumAvailableAmount" />
		<result property="sumFreezeAmount" column="sumFreezeAmount" />
		<result property="sumEbaoBalance" column="sumEbaoBalance" />
		<result property="sumEbaoAvailableAmount" column="sumEbaoAvailableAmount" />
		<result property="sumEbaoFreezeAmount" column="sumEbaoFreezeAmount" />
		<result property="allInvestorsNums" column="allInvestorsNums" />
		<result property="allUserNums" column="allUserNums" />
		<result property="userNumsPerDay" column="userNumsPerDay" />
		<result property="sumWithdrawMoneyPerDay" column="sumWithdrawMoneyPerDay" />
		<result property="sumRechargeMoneyPerDay" column="sumRechargeMoneyPerDay" />
		<result property="allinvestNums" column="allinvestNums" />
		<result property="time" column="time" />
	</resultMap>

	<insert id="insert" parameterType="AccountCount">
		INSERT INTO account_count(id,
		sumBalance, sumAvailableAmount, sumFreezeAmount, sumEbaoBalance,
		sumEbaoAvailableAmount,
		sumEbaoFreezeAmount, allInvestorsNums,
		allUserNums, userNumsPerDay, sumWithdrawMoneyPerDay,
		sumRechargeMoneyPerDay, time,accountUserNums,allinvestNums)
		VALUES(#{id}, #{sumBalance},
		#{sumAvailableAmount},
		#{sumFreezeAmount}, #{sumEbaoBalance},
		#{sumEbaoAvailableAmount}, #{sumEbaoFreezeAmount},
		#{allInvestorsNums}, #{allUserNums}, #{userNumsPerDay},
		#{sumWithdrawMoneyPerDay},
		#{sumRechargeMoneyPerDay}, #{time},#{accountUserNums},#{allinvestNums})
	</insert>

	<!-- 分页查询 -->
	<select id="pageLite" parameterType="AccountCount" resultMap="AccountCountRM">
		SELECT * FROM account_count
		ORDER BY time DESC
	</select>
</mapper>