<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanrong.business.sms.mapper.UserMessageTemplateMapper">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" flushInterval="3600000" />

	<resultMap type="UserMessageTemplate" id="UserMessageTemplateRM">
		<id property="id" column="id" />
		<result property="messageNode" column="message_node" />
		<result property="messageWay" column="message_way" />
		<result property="template" column="template" />
	</resultMap>

	<select id="get" parameterType="string" resultMap="UserMessageTemplateRM">
		SELECT * FROM
		user_message_template
		WHERE id = #{id} limit 1
	</select>

</mapper>