<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanrong.drpay.business.autoinvest.mapper.AutoInvest">
	<resultMap type="AutoInvest" id="AutoInvestRM">
		<id property="userId" column="user_id" />
		<result property="investMoney" column="invest_money" />
		<result property="minRate" column="min_rate" />
		<result property="maxRate" column="max_rate" />
		<result property="minDeadline" column="min_deadline" />
		<result property="maxDeadline" column="max_dealline" />
		<result property="minMoney" column="minMoney" />
		<result property="maxMoney" column="maxMoney" />
		<result property="loanType" column="loanType" />
		<result property="remainMoney" column="remain_money" />
		<result property="lastAutoInvestTime" column="last_auto_invest_time" />
		<result property="seqNum" column="seq_num" />
		<result property="status" column="status" />
	</resultMap>

	<select id="get" parameterType="string" resultMap="AutoInvestRM">
		SELECT * FROM
		auto_invest
		WHERE auto_invest.user_id = #{userId}
	</select>

	<insert id="insert" parameterType="AutoInvest">
		INSERT INTO auto_invest
		(user_id, invest_money, min_rate, max_rate, min_deadline,
		max_dealline, minMoney, maxMoney, loanType, remain_money,
		last_auto_invest_time, seq_num, status)
		VALUES
		(#{userId},
		#{investMoney}, #{minRate}, #{maxRate}, #{minDeadline},
		#{maxDeadline}, #{minMoney}, #{maxMoney}, #{loanType}, #{remainMoney},
		#{lastAutoInvestTime}, #{seqNum}, #{status})
	</insert>

	<update id="update" parameterType="AutoInvest">
		UPDATE auto_invest
		<set>
			<if test="investMoney != null">invest_money = #{investMoney},</if>
			<if test="minRate != null">min_rate = #{minRate},</if>
			<if test="maxRate != null">max_rate = #{maxRate},</if>
			<if test="minDeadline != null">min_deadline = #{minDeadline},</if>
			<if test="maxDeadline != null">max_dealline = #{maxDeadline},</if>
			<if test="minMoney != null">minMoney = #{minMoney},</if>
			<if test="maxMoney != null">maxMoney = #{maxMoney},</if>
			<if test="remainMoney != null">remain_money = #{remainMoney},</if>
			<if test="lastAutoInvestTime != null">last_auto_invest_time = #{lastAutoInvestTime},</if>
			<if test="seqNum != null">seq_num = #{seqNum},</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(loanType)">
				loanType = #{loanType},
			</if>
			<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(status)">
				status = #{status},
			</if>
		</set>
		WHERE user_id = #{userId}
	</update>

</mapper>